body{
    background-color: rgb(209, 209, 209);
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.amountbutton
{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 64);
    font-weight: bold;
}
 
.ui
{
    margin: 5px;
}

.roll
{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('img/dice1.png');
    
}

.playerturn
{
    display: inline-block;
    background-color: lightgreen;
    width: 50px;
    height: 30px;
}

.board
{
    height: 600px;
    width: 600px;
}

.boardoverlay
{
    top: 0px;
    position: absolute;
    background-image: url('img/snakes.png');
    width: 600px;
    height: 600px;
}

.pawn
{
    top: 0px;
    position: absolute;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: none;
}

.pawn0
{
   background-image: url('img/pawn0.png') ;
}

.pawn1
{
    background-image: url('img/pawn1.png') ;
}

.pawn2
{
    background-image: url('img/pawn2.png') ;
}

.pawn3
{
    background-image: url('img/pawn3.png') ;
}

.tile
{
    
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: lime;
    color: linen;
}

